/*stylesheet*/

body {
	font-family: 'Avenir';
}

ul.nav {
	list-style-type: none;
	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #a6cbe2;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 1.3em;
  text-decoration: none;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

ul.nav li.right {
	float: right;
	margin-left: 1em;
	margin-right: 3em;
}

ul.nav li.left {
	float: left;
	margin-left: 1em;
	margin-right: 2em;
}

ul.nav img.logo {
	float: left;
	margin-left: 3em;
}

#leftcolumn{
	float: left;
	padding-left: 2em;
	padding-top: 3em;
	margin-left: 3em;
	width: 500px;
	text-align:left;
	font-size: 2.1em;
	color: #636363;
}

h1{
	font-weight: 500;
}

h2{
	font-size: .9em;
	font-weight: 300;
	margin-top: -1em;
}

#rightcolumn {
	float:right;
	width: 500px;
	margin-top: 3.8em;
	margin-right: 10em;
}

button {
	color: white;
	background-color: #a6cbe2;
	border-radius: 30px;
	font-size: .6em;
	font-weight: 500;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 70px;
	padding-right: 70px;
	margin-top: 1.7em;
	border: none;
}

.content {
	color: #636363;
	text-align: center;
	font-size: 1.5em;
}




