/*stylesheet*/

body {
	font-family: 'Avenir';
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul.nav {
	list-style-type: none;
	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #a6cbe2;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 1.3em;
  text-decoration: none;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

ul.nav li.right {
	float: right;
	margin-left: 1em;
	margin-right: 3em;
}

ul.nav li.left {
	float: left;
	margin-left: 1em;
	margin-right: 2em;
}

ul.nav img.logo {
	float: left;
	margin-left: 3em;
}

.nav a:hover {
	color: #636363;
}

.leftcolumn{
	float: left;
	padding-left: 2em;
	padding-top: 3em;
	margin-left: 3em;
	width: 500px;
	text-align:left;
	font-size: 2.1em;
	color: #636363;
}

h1{
	font-weight: 500;
	color: #636363;
}

h2{
	font-size: .9em;
	font-weight: 300;
	margin-top: -1em;
}

.rightcolumn {
	float:right;
	width: 500px;
	margin-top: 3.8em;
	margin-right: 10em;
	margin-left: 5em;
}

.rightcolumn1 {
	float:right;
	width: 500px;
	margin-top: 8em;
	margin-right: 10em;
	margin-left: 5em;
}

button {
	color: white;
	background-color: #a6cbe2;
	border-radius: 30px;
	font-size: .6em;
	font-weight: 500;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 70px;
	padding-right: 70px;
	margin-top: 1.7em;
	border: none;
}

.container {
	width: 100%;
	height: 700px;
	display: flex;
	order: 1;
	position:relative;
}

.container2 {
	background-color: #eef0f0;
	width: 100%;
	height: 700px;
	margin-top: 3em;
	position: relative;
	order: 2;
}

.container3 {
	position: relative;
	order: 3;
}

.container4 {
	display:flex;
	flex-direction: column;
	align-items: center;
	order: 4;
	position: relative;
}

.main {
	padding-left: 20em;
	padding-right: 20em;
	padding-top: 10em;
	padding-bottom: 10em;
	position: absolute;
	z-index: 1;
	justify-content: space-between;
}

.main h1{
	color: #636363;
	text-align: center;
	font-size: 3em;
	position: relative;
	z-index: 2;
}

.main h2{
	color: #636363;
	text-align: center;
	font-size: 1.8em;
	padding-left: 1em;
	padding-right: 1em;
	line-height: 1.3em;
	/*position: absolute;*/
}

.heartplusmind {
	/*position: absolute;*/
}
.heartplusmindtext {
	position: absolute;
	flex-direction: column;
	align-items: center;
}

#header h1 {
	text-align: center;
	color: #636363;
	font-size: 3.5em;
	position: absolute;
	z-index: 100;
	order: 1;
	top: 11%;
	left:35%
}

#header h2 {
	text-align: center;
	color: #636363;
	font-size: 1.8em;
	position: absolute;
	z-index: 100;
	order: 2;
	top: 26.5%;
	left: 33%;
}

#love {
	text-align: center;
	padding: 2em;
	color: #636363;
	font-size: 1.8em;
	position: absolute;
	z-index: 100;
	order: 3;
	top: 40%;
	left: 28%;
}

#positivity {
	text-align: center;
	padding: 2em;
	color: #636363;
	font-size: 1.8em;
	position: absolute;
	z-index: 100;
	order: 4;
	top:54%;
	left:28%
}

#knowledge {
	text-align: center;
	padding: 2em;
	color: #636363;
	font-size: 1.8em;
	position: absolute;
	z-index: 100;
	order: 5;
	top:67%;
	left:28%
}

#trophy h2{
	text-align: center;
	color: #636363;
	font-size: 1.8em;
	position: absolute;
	z-index: 100;
	order: 2;
	bottom: 20%;
	left: 37.5%;
}

#become {
	text-align: center;
	padding: 2em;
	color: #636363;
	font-size: 1.8em;
}

.leftcolumn h2{
	margin-bottom: 3em;
}

.leftcolumn h3 {
	font-size: 3.5em;
	font-weight: 500;
	margin-top: .7em;
	position: absolute;
	z-index: 100;
	top: 18%;
	left: 12%;
}


.rightcolumn p {
	font-size: 1.8em;
	color: #636363;
	width: 500px;
	margin-top: 3em;
	margin-right: 10em;
	margin-bottom: .22em;
}

.rightcolumn p2 {
	font-size: 1.8em;
	color: #636363;
	width: 500px;
	margin-right: 10em;
}

.rightcolumn1 p {
	font-size: 1.8em;
	color: #636363;
	width: 500px;
	margin-top: 3em;
	margin-right: 10em;
	margin-bottom: .22em;
}

.rightcolumn1 p2 {
	font-size: 1.8em;
	color: #636363;
	width: 500px;
	margin-right: 10em;
}

#earth {
	position: absolute;
	top:14%; 
	left: 27%;
}

.mainourgoal {
	padding-left: 20em;
	padding-right: 20em;
	padding-top: 5em;
	padding-bottom: 5em;
	position: absolute;
}

.mainourgoal h1 {
	color: #636363;
	text-align: center;
	font-size: 3em;
}

.mainourgoal h2 {
	color: #636363;
	text-align: center;
	font-size: 1.8em;
	padding-left: 1em;
	padding-right: 1em;
	line-height: 1.3em;
	margin-bottom: -1.5em;
}

#ourgoal h1{
	text-align: center;
	position: absolute;
	padding-left: 10em;
	padding-right: 10em;
	padding-top: 5em;
	padding-bottom: 5em;
	z-index: 3;
	font-weight: 500;
	color: #636363;
}

.rightcolumn h2 {
	font-size: 1.8em;
	color: #636363;
	width: 500px;
	margin-top: 3em;
	margin-right: 10em;
}

#wordcloud {
	z-index: 1;
	position: relative;
}

#modernetiquette h1{
	text-align: center;
	color: #636363;
	font-size: 3.5em;
	position: absolute;
	z-index: 100;
	order: 1;
	top: 38%;
	left: 30%
}

.learn h1{
	font-size: 3em;
	text-align: center;
	padding-left: 4.2em;
	padding-right: 4.2em;
	padding-bottom: 1em;
	position: absolute;
	top: 20%;
}

.learn h2{
	color: #636363;
	float: right;
	font-size: 1.8em;
	text-align: center;
	line-height: 1.3em;
	position: absolute;
	bottom: 15%;
	left: 60%;
}

.getinvolved{
	font-size: 7em;
	font-weight: 500;
	margin-top: 0em;
	color: #636363;
	align-items: center;
	justify-content: center;
}

.columns {
	display:flex;
	flex-direction: row;
}

#arrow {
	float:right;
	margin-top: -2em;
}

.rightcolumn button {
	font-size: 1.4em;
	float:right;
	margin-right: 8em;
}

img.yellowlines{
	margin-left: -3em;
	margin-top: -.9em;
}

ul.footer {
	list-style-type: none;
  	padding: 1.5em;
  	overflow: hidden;
  	background-color: #a6cbe2;
  	float: center;
  }

ul.footer img.footerlogo {
	float: center;
	text-align: center;
	margin-left: 42em;
}



